html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(242, 240, 248);
}

.main {
  background-color: rgb(242, 240, 248);
  height: 600vh;
  transition: transform 0.5s;
}

.firstPageTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.firstPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.firstPage span:first-child {
  display: block;
  font-size: 150px;
  color: #88aed0;
}

.EEEM {
  font-size: 200px;
  color: #88aed0;
}

.firstPageImg {
  width: 400px;
  height: 400px;
}

.mainPage {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  transition: all 0.5s ease-in-out;
}

.manner {
  flex-direction: row-reverse;
}

.newterm {
  flex-direction: row-reverse;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  font-size: 30px;
  margin: 10px 0px;
}

.goto {
  margin-top: 70px;
}

.question {
  margin: 10px 0px;
  font-size: 40px;
}

.mainPage img {
  width: 500px;
  height: 500px;
}

.title {
  color: #88aed0;
  font-size: 80px;
  margin-bottom: 100px;
}

.arrow {
  position: fixed;
  bottom: 70px;
  right: 220px;
  animation: updown 2s ease-in-out infinite;
}

@keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.gotoContent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.gotoContent a {
  padding: 0px 15px;
  color: #88aed0;
  font-size: 18px;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
}

svg {
  position: absolute;
  top: -4000px;
  left: -4000px;
}

#gooey-button {
  padding: 1rem;
  font-size: 2rem;
  border: none;
  color: white;
  filter: url("#gooey");
  position: relative;
  background-color: #6eb7f3;
  cursor: pointer;
}
#gooey-button:focus {
  outline: none;
}
#gooey-button .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#gooey-button .bubbles .bubble {
  background-color: #6eb7f3;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: -1;
}
#gooey-button .bubbles .bubble:nth-child(1) {
  left: 70px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-1 3.02s infinite;
  animation: move-1 3.02s infinite;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
#gooey-button .bubbles .bubble:nth-child(2) {
  left: 80px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-2 3.04s infinite;
  animation: move-2 3.04s infinite;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
#gooey-button .bubbles .bubble:nth-child(3) {
  left: 11px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-3 3.06s infinite;
  animation: move-3 3.06s infinite;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
#gooey-button .bubbles .bubble:nth-child(4) {
  left: 81px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-4 3.08s infinite;
  animation: move-4 3.08s infinite;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
#gooey-button .bubbles .bubble:nth-child(5) {
  left: 51px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-5 3.1s infinite;
  animation: move-5 3.1s infinite;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
#gooey-button .bubbles .bubble:nth-child(6) {
  left: 77px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-6 3.12s infinite;
  animation: move-6 3.12s infinite;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
#gooey-button .bubbles .bubble:nth-child(7) {
  left: 25px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-7 3.14s infinite;
  animation: move-7 3.14s infinite;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
#gooey-button .bubbles .bubble:nth-child(8) {
  left: 52px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-8 3.16s infinite;
  animation: move-8 3.16s infinite;
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
#gooey-button .bubbles .bubble:nth-child(9) {
  left: 51px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-9 3.18s infinite;
  animation: move-9 3.18s infinite;
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
#gooey-button .bubbles .bubble:nth-child(10) {
  left: 49px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-10 3.2s infinite;
  animation: move-10 3.2s infinite;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

@-webkit-keyframes move-1 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -82px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes move-1 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -82px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-2 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -102px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-2 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -102px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-3 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -74px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-3 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -74px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-4 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -100px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-4 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -100px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-5 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -120px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-5 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -120px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-6 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -98px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-6 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -98px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-7 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -114px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-7 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -114px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-8 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -70px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-8 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -70px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-9 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -106px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-9 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -106px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes move-10 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -81px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes move-10 {
  0% {
    transform: translate(0, 0);
  }
  99% {
    transform: translate(0, -81px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
