{% extends 'base.html' %}{% load static %}{% block extrahead %}
{% endblock %} {% block content %}
<link rel="stylesheet" href='{% static "css/manner.css" %}'>
<body>
  <main class="main__screen">

    <h4>'{{query}}'에 대한 검색결과</h4>
    <form method="get" class="search" action="{% url 'search' %}">
      <input type="search" class="search__box" placeholder="#해시태그 검색" name="kw">
      <!-- <input type="search" class="search__box" placeholder="#누구에게" name="kw2"> -->
      <button type="submit" class="find__btn">검색</button>
      <!-- <button class="writeText">글쓰기</button> -->
    </form>
    {% if user.is_authenticated %}
    <a href="{%url 'addManner' %}" class="writeText">글쓰기</a>
    {% else %}
    <a href="#loginmodal" class="writeText" rel="modal:open">글쓰기</a>
    {% endif %}
    {% for result in result.all %}
    {% if not result.secret %}
    <a class="manner__box" href="{%url 'mannersDetail' result.id %}">
      <div class="profile">
        <div class="manner__user">
          {% if result.user.profile %}
          <img src="{{result.user.profile.url}}" alt="user" width="60px" class="rounded-circle">
          {% endif %}  
          <div>{{result.user.sex}}, {{result.user.age}}대</div>
        </div>
        <div class="manner__main">
          <div class="manner__text">
            제목 : {{result.text}}
          </div>
          <div class="manner__hashtag">
            <div class="manner__hashtag--detail">누가:{{result.hashtag_me}}</div>
            <div class="manner__hashtag--detail">누구에게:{{result.hashtag_you}}</div>
          </div>
        </div>
      </div>
      <div class="mannerInfo">
        <div class="mannerthumbs">
          <img src="{%static 'img/like.png' %}" width="20px" height="20px"/> : {{m.like}}
          <img src="{%static 'img/dislike.png' %}" width="20px" height="20px"/> : {{m.dis_like}}
        </div>
        <div class="date">{{result.date|date:'Y-m-d fa' }}</div>
        <div>작성자 : {{result.user.nickname}}</div>
      </div>
    </a>
  {% endif %}
  {% if result.secret %}
    {% if result.user != request.user %}
      {% if request.user.coin >= 3 %}
      <a href="#coinModal" class="manner__box--secret" rel="modal:open">
      {% else %}
      <a href="#nocoinModal" class="manner__box--secret" rel="modal:open">
      {% endif %}
        <div class="profile">
          <div class="manner__user">
            {% if result.user.profile %}
            <img src="{{result.user.profile.url}}" alt="user" width="60px" class="rounded-circle">
            {% endif %}  
            <div>{{result.user.sex}}, {{result.user.age}}대</div>
          </div>
          <div class="manner__main">
            <div class="manner__text">
              제목 : {{result.text}}
            </div>
            <div class="manner__hashtag">
              <div class="manner__hashtag--detail">누가:{{result.hashtag_me}}</div>
              <div class="manner__hashtag--detail">누구에게:{{result.hashtag_you}}</div>
            </div>
          </div>
        </div>
        <div class="mannerInfo">
          <div class="mannerthumbs">
            <img src="{%static 'img/like.png' %}" width="20px" height="20px"/> : {{result.like}}
            <img src="{%static 'img/dislike.png' %}" width="20px" height="20px"/> : {{result.dis_like}}
          </div>
          <div class="date">{{result.date|date:'Y-m-d fa' }}</div>
          <div>작성자 : {{result.user.nickname}}</div>
        </div>
        <div class="medal">
          <img src="{% static 'img/medal.png' %}" width="40px" height="40px">
        </div>
      </a>
    {% else %} <!--인증 완료한 내가 쓴 글-->
      <a class="manner__box--secret" href="{%url 'mannersDetail' m.id %}">
        <div class="profile">
          <div class="manner__user">
            {% if result.user.profile %}
            <img src="{{result.user.profile.url}}" alt="user" width="60px" class="rounded-circle">
            {% endif %}  
            <div>{{result.user.sex}}, {{result.user.age}}대</div>
          </div>
          <div class="manner__main">
            <div class="manner__text">
              제목 : {{result.text}}
            </div>
            <div class="manner__hashtag">
              <div class="manner__hashtag--detail">누가:{{result.hashtag_me}}</div>
              <div class="manner__hashtag--detail">누구에게:{{result.hashtag_you}}</div>
            </div>
          </div>
        </div>
        <div class="mannerInfo">
          <div class="mannerthumbs">
            <img src="{%static 'img/like.png' %}" width="20px" height="20px"/> : {{result.like}}
            <img src="{%static 'img/dislike.png' %}" width="20px" height="20px"/> : {{result.dis_like}}
          </div>
          <div class="date">{{result.date|date:'Y-m-d fa' }}</div>
          <div>작성자 : {{result.user.nickname}}</div>
        </div>
        <div class="medal">
          <img src="{% static 'img/medal.png' %} " width="40px" height="40px">
        </div>
      </a>
    {% endif %}
  {% endif %}
  <div id="coinModal" class="modal">
    <div>인증 글을 보려면 코인 3개가 필요합니다.</div>
    <div>코인을 사용 하시겠습니까?</div>
    <div>
      <a href="{% url 'minuscoin' result.id %}">네</a>
      <a href="{% url 'manner' %}">아니오</a>
    </div>
  </div>
{% endfor %}

<div id="nocoinModal" class="modal">
  <div>인증 글을 보려면 코인 3개가 필요합니다.</div>
  <div>코인이 부족합니다. (현재 코인 : {{request.user.coin}}개)</div>
</div>

<div id="certificationModal" class="modal">
{% if user_certification is None %}
  <span style="font-size:18px;">본인의 직업을 먼저 인증하고<br><br>글을 쓰면 20 코인을 선물로 드립니다✨</span>  
  <br><br><br>
  <button class="tocertificatebtn" style="margin-right:10px;" onclick="location.href='{% url 'toCertification' %}'">인증하고 글쓰기</button>
  <button class="tocertificatebtn" onclick="location.href='{%url 'addManner' %}'">글쓰기</button>
{% else %}
  {% if user_certification.certified %}
    <span style="font-size:18px;">인증이 완료한 직업으로 글을 써보세요</span>
    <br><br>
    <button class="tocertificatebtn" style="margin-right:10px;" onclick="location.href='{%url 'addManner' %}'">"{{user_certification.job}}"로 글쓰기</button>
    <button class="tocertificatebtn" onclick="location.href='{%url 'toCertification' %}'">다른 직업으로 인증하기</button>
    <button class="tocertificatebtn" onclick="location.href='{%url 'stopCertification' %}'">인증 취소하기</button>
  {% else %}  
    <span style="font-size:18px;">인증을 기다리고 있습니다.</span>  
    <br><br>
    <button class="tocertificatebtn" onclick="location.href='{%url 'addManner' %}'">글쓰기</button>
  {% endif %}
{% endif %}
</div>


</main>
<script src="https://kit.fontawesome.com/740a1d0d1d.js" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}

  
